# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Custom ignored folders and files
Knowledge/
*.md
uploads/k1ffil9kjbro5dbncn3l0ytst4o3k81u/
